<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.stardroid"
    android:installLocation="auto"
    android:vmSafeMode="false"
    android:versionName="1.6.4"
    android:versionCode="1112">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- For Google Analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk android:minSdkVersion="3"/>
    <application android:label="@string/app_name"
      android:icon="@drawable/skymap_logo"
      android:name="StardroidApplication">

    <activity android:name=".activities.SplashScreenActivity"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
      android:screenOrientation="nosensor"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".activities.DynamicStarMapActivity"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
      android:label="@string/app_name"
      android:launchMode="singleTask"
      android:screenOrientation="nosensor"
      android:configChanges="keyboardHidden|orientation">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
      <meta-data android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>

    <activity android:name=".activities.EditSettingsActivity"/>
    <activity android:name=".activities.ImageGalleryActivity"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
    <activity android:name=".activities.ImageDisplayActivity"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
    <!-- Provides search suggestions. -->
    <!-- TODO(johntaylor): What does syncable do? -->
    <provider android:name="com.google.android.stardroid.search.SearchTermsProvider"
      android:authorities="com.google.android.stardroid.searchterms"
      android:syncable="false"/>
    <activity android:name=".activities.ControlPanelActivity"/>

</application>
    <supports-screens
      android:xlargeScreens="true"
      android:largeScreens="true"
      android:normalScreens="true"
      android:smallScreens="true"
      android:anyDensity="true" />
</manifest>
